body {
    box-sizing: border-box;
    /* background-color: rgb(202, 151, 204); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
}

ul{
    display: list-item;
  /* list-style-type: square; */
  list-style-type: none;
}

.form-select{
    width: 150px;
}

.search-btn{
    padding-top: 2%;
    padding-bottom: 1%;
}

.cars{
    color: white;
}

h1{
    margin-left: 3%;
}

h4{
    margin-left: 3%;
}

p{
    margin-left: 3%;
}

.colorFilter{
    margin-left: 8%;
}

.brandsFilter{
    margin-left: 8%;
}

#search{
    margin-left: 11%;
}
