body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    display: list-item;
  /* list-style-type: square; */
  list-style-type: none;
}

.form-select{
    width: 150px;
}

.search-btn{
    padding-top: 2%;
    padding-bottom: 1%;
}

.cars{
    color: white;
}

h1{
    margin-left: 3%;
}

h4{
    margin-left: 3%;
}

p{
    margin-left: 3%;
}

.colorFilter{
    margin-left: 8%;
}

.brandsFilter{
    margin-left: 8%;
}

#search{
    margin-left: 11%;
}

.home{
    margin-left: 5%;
}

.home2{
    margin-left: 8.4%;
}

.filterPage{
    padding-top: 3%;
    margin-left: 5%;
}
.carsInfoPage{
    padding-top: 1%;
    margin-left: 8%;
}

.carWidget{
    padding-top: 2%;
    margin-left: 5%;
}

.nav-item{
    padding-right: 5%;
    padding-top: 1%;
}
